@import 'assets/styles/index.scss';

.back {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;

  @include mq(tab) {
    background-color: #e7eaf2;
    background-image:
      url('../../assets/Images/login/Ellipse\ 1.png'),
      url('../../assets/Images/login/Ellipse\ 2.png');
    background-repeat: no-repeat;
    background-position: left bottom, right top;
  }

  @include mq(desk) {
    height: 100vh;
    background-image:
      url('../../assets/Images/login/Ellipse\ 1_desk.png'),
      url('../../assets/Images/login/Ellipse\ 2_desk.png');
  }
}

.blur {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
}

.successIcon {
  width: 100px;
  height: 100px;
  fill: var(--text-green-color);
  color: var(--text-green-color);
}

.containerCheck {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.link {
  border-bottom: 1px solid #000000;

  &:hover {
    color: var(--text-green-color);
    border-bottom: 1px solid var(--text-green-color);
  }
}

.link:hover {
  color: var(--text-green-color);
  border-bottom: 1px solid var(--text-green-color);
}