@import 'assets/styles/index.scss';

.successIcon {
  width: 100px;
  height: 100px;
  fill: var(--text-green-color);
  color: var(--text-green-color);
}

.containerCheck {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -80px;
  gap: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.link {
  border-bottom: 1px solid #000000;

  &:hover {
    color: var(--text-green-color);
    border-bottom: 1px solid var(--text-green-color);
  }
}

.link:hover {
  color: var(--text-green-color);
  border-bottom: 1px solid var(--text-green-color);
}