.removeContainer {
  width: 100%;
}

.header,
.advise {
  text-align: center;
}

.advise {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  font-style: italic;
  color: grey;
}

.categoriesList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.categoriesItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 10px 15px;

  border-radius: 25px;

  box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.2);

  background: rgba(255, 255, 255, 0.5);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.5);
  }
}

.otherExpenses {
  padding: 10px;
  display: flex;
}

.loader {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.buttonDelete {
  display: flex;
  align-items: center;
  height: 22px;
  padding: 0;
  position: absolute;
  width: 22px;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;

  :hover {
    cursor: pointer;
  }

  &:hover .svg {
    fill: rgb(255, 140, 140);
  }
}

.svg {
  background-color: transparent;
  width: 22px;
  height: 22px;
  border-radius: 7px;

  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
