@import '../../assets/styles/index.scss';

.user_avatar {
  display: inline-block;
  position: relative;

  &__img {
    width: 30px;
    height: 30px;

    object-fit: cover;

    border-radius: 50%;
    border: 1px solid var(--text-modal-grey-color);

    @include mq(tab) {
      width: 40px;
      height: 40px;
    }
  }

  &__settings {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    right: 0;
    bottom: 0;

    width: 40%;
    height: 40%;
    background-color: var(--main-background-color);
    border-radius: 50%;
    border: 1px solid var(--text-modal-grey-color);

    transition: filter 150ms linear, border 150ms linear;
    &:hover {
      filter: drop-shadow(0px 3px 6px rgb(74, 86, 226));
      border: 1px solid rgba(93, 106, 240, 0.5);
    }
  }

  &__icon {
    width: 90%;
    height: 90%;
    color: black;
  }
}
