@import 'assets/styles/index.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 15px 0;

  gap: 15px;

  @include mq(tab) {
    padding: 32px;
    gap: 32px;
  }

  @include mq(desk) {
    padding: 46px;
    gap: 46px;
  }
}
