@import 'assets/styles/index.scss';

.successBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

.successIcon {
  width: 100px;
  height: 100px;
  fill: var(--text-green-color);
  color: var(--text-green-color);
  margin-bottom: 20px;
  margin-top: 20px;
}

.successText {
  margin-bottom: 10px;
}

.errorText {
  margin-top: 30px;
  margin-bottom: 10px;
}

.resendBtn {
  @extend %btnGreen;
  height: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 13px 50px;
}

.msg {
  margin-top: 10px;
  font-size: 12px;
  color: var(--text-green-color);
}