@import 'assets/styles/index.scss';

.back {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;

  @include mq(tab) {
    background-color: #e7eaf2;
    background-image: url('../../assets/Images/login/Ellipse\ 1.png'),
      url('../../assets/Images/login/Ellipse\ 2.png');
    background-repeat: no-repeat;
    background-position: left bottom, right top;
  }

  @include mq(desk) {
    height: 100vh;
    background-image: url('../../assets/Images/login/Ellipse\ 1_desk.png'),
        url('../../assets/Images/login/Ellipse\ 2_desk.png');
  }
}

.blur {
  @include mq(desk) {
    position: absolute;
    max-width: 731px;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
  }
}

.registerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  height: 100vh;
  padding-top: 32px;
  padding-bottom: 36px;

  @include mq(tab) {
    flex-direction: column;
    height: 100vh;
    max-width: 100%;
    gap: 50px;
    justify-content: center;
  }

  @include mq(desk) {
    height: 100vh;
    max-width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: baseline;
  }
}

.registerImgWrapper {
  display: flex;
  width: 100%;
  gap: 40px;

  @include mq(desk) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31.9px;
  }
}

.registerImg {
  margin-top: 60px;
  margin-left: 82px;

  @include mq(desk) {
    margin-top: 153px;
    margin-left: 50px;
  }
}

.appTitle {
  margin-top: 163px;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.5;

  @include mq(desk) {
    margin-top: 0;
    margin-left: 184px;
  }
}

.form {
  width: 100%;

  @include mq(tab) {
    width: auto;
    padding-bottom: 48px;
  }

  @include mq(desk) {
    display: flex;
    align-items: center;
    height: 100vh;
    width: auto;
    margin-right: -16px;
    padding-left: 107px;
    padding-top: 52px;
    padding-right: 91px;
    padding-bottom: 52px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
  }
}

@media (orientation: landscape) {
  .back {
    height: auto;
  }
  .registerContainer{
    height: auto;
  }
}