.table {
  width: 704px;
}

.tableHeader {
  display: flex;
  width: 704px;
  padding: 15px 20px;
  justify-content: space-between;
}

.tableHeaderItem {
  font-family: 'сirce';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
