@import 'assets/styles/index.scss';

.menuMonth {
  @extend %menu;
  top: 50px;
}

.menuYear {
  @extend %menu;
  top: 50px;
  right: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 44px;
  font-size: 18px;
  line-height: 27px;
  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #ff6596;
    cursor: pointer;
  }
}
