@import 'assets/styles/index.scss';

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  @include mq(mob-only) {
    font-size: 24px;
  }
  @include mq(tab) {
    font-size: 30px;
  }
}

.checkboxInfo {
  display: flex;
  align-items: center;
  margin-top: 42px;
  gap: 24px;
}

.checkboxText {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.checkboxLabel {
  position: relative;
  color: transparent;
  width: 80px;
  height: 40px;
  border: 1px solid var(--modal-small-box-border);
  border-radius: 30px;
  cursor: pointer;
}

.checkboxIconBox {
  position: absolute;
  top: -3px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: #ff6596;
  color: #ffffff;
  border-radius: 50%;
  box-shadow: var(--red-circle-shadow);
  transition: left 0.3s ease, color 0.3s ease;

  .checkbox:checked + & {
    left: -4px;
    box-shadow: var(--green-circle-shadow);
    background-color: var(--btn-green-color);
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
  }
}

.checkboxIcon {
  width: 20px;
  height: 20px;
}

.checkbox {
  display: none;
}

.closeBtn {
  @extend %btnTransperentBlue;
  width: 300px;
  padding: 13px 0;
  margin-top: 20px;
  text-transform: uppercase;
  border-radius: 20px;
}
