@import 'assets/styles/index.scss';

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}

.doughnut {
  width: 288px;
  height: 288px;
}
