@import 'assets/styles/index.scss';

.formContainer{
  padding-top: 32px;
  padding-bottom: 36px;
  background-color: #ffffff;

  @include mq(tab){
    width: 533px;
    padding-top: 50px;
    padding-bottom: 48px;
    padding-left: 65px;
    padding-right: 58.5px;
    border-radius: 20px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  height: 32px;
  width: 100%;
  margin-bottom: 40px;
  padding-left: 54px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;

  font-size: 18px;
  line-height: 1.5;
}

.errorInput {
  border-bottom: 1px solid red;
}

.validInput {
  border-bottom: 1px solid var(--text-green-color);
}

.inputIcon {
  position: absolute;
  left: 10px;
  color: #e0e0e0;
  fill: #e0e0e0;
}

.errorInputIcon {
  position: absolute;
  left: 10px;
  color: red;
  fill: red;
}

.validInputIcon {
  position: absolute;
  left: 10px;
  color: var(--text-green-color);
  fill: var(--text-green-color);
}

.label {
  position: relative;
  display: block;
}

.errorField {
  position: absolute;
  top: 35px;

  font-size: 12px;
  font-family: Circe;
  color: rgb(255, 55, 55);
}

.registerBtn {
  @extend %btnGreen;
  height: 50px;
  margin-bottom: 20px;

  @include mq(tab) {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.loginBtn {
  @extend %btnTransperentBlue;
  height: 50px;
  border-radius: 20px;

  @include mq(tab) {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}