@import 'assets/styles/index.scss';

.formContainer {
  background-color: #ffffff;

  @include mq(tab) {
    width: 533px;
    height: 686px;
    padding-top: 40px;
    padding-bottom: 66px;
    padding-left: 65px;
    padding-right: 58.5px;
    border-radius: 20px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  @include mq(tab) {
    justify-content: flex-start;
    margin-left: 101px;
  }
}

.logoIcon {
  @include mq(tab) {
    width: 181px;
    height: 40px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  height: 32px;
  width: 100%;
  margin-bottom: 40px;
  padding-left: 54px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;

  font-family: 'Circe';
  font-size: 18px;
  line-height: 1.5;
}

.errorInput {
  border-bottom: 1px solid red;
}

.validInput {
  border-bottom: 1px solid var(--text-green-color);
}

.inputIcon {
  position: absolute;
  left: 10px;
  color: #e0e0e0;
  fill: #e0e0e0;
}

.errorInputIcon {
  position: absolute;
  left: 10px;
  color: red;
  fill: red;
}

.validInputIcon {
  position: absolute;
  left: 10px;
  color: var(--text-green-color);
  fill: var(--text-green-color);
}

.label {
  position: relative;
  display: block;
}

.errorField {
  position: absolute;
  top: 35px;

  font-size: 12px;
  font-family: Circe;
  color: rgb(255, 55, 55);
}

.errorFieldConfirmPassword {
  position: absolute;
  top: 45px;
  font-size: 12px;
  font-family: Circe;
  color: rgb(255, 55, 55);
}

.passwordIcon {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 3px;
}

.registerBtn {
  @extend %btnGreen;
  height: 50px;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 61px;
  padding-right: 55px;

  @include mq(tab) {
    width: 300px;
    padding-left: 71px;
    padding-right: 65px;
    margin-left: auto;
    margin-right: auto;
  }
}

.loginBtn {
  @extend %btnTransperentBlue;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 61px;
  padding-right: 55px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include mq(tab) {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.googleBtn {
  @extend %btnTransperentBlue;
  height: 50px;
  border-radius: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  padding-right: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 18px;

  display: flex;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;

  @include mq(tab) {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.googleIcon {
  align-self: center;
}

.icon {
  width: 25px;
  height: 25px;
}

.hideIcon {
  position: absolute;
  cursor: pointer;
  right: 6px;
  top: 3px;
  color: #e0e0e0;
}

.showIcon {
  position: absolute;
  cursor: pointer;
  right: 6px;
  top: 3px;
  color: var(--text-green-color);
}
