@import 'assets/styles/_vars.scss';

.balanceContainer {
  display: inline-block;
  max-width: 440px;
  min-width: 280px;
  height: 80px;
  padding: 8px 32px 22px 32px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.2;
  background-color: var(--modal-background-color-white);
  color: var(--text-grey-color);
  border-radius: 30px;

  @media screen and (min-width: 768px) {
    width: 336px;
    padding: 9px 32px 22px 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
  }
}

.balanceAmount {
  display: flex;
  gap: 6px;
  margin-top: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: calc(45 / 37);
  color: var(--text-main-color);
  font-family: 'Poppins';

  @media screen and (min-width: 768px) {
    margin-top: 7px;
    gap: 8px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 9px;
    gap: 7px;
    align-items: baseline;
  }
}

.text {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;

  color: #a6a6a6;
}
