@import 'assets/styles/index.scss';

.openBtn {
  @extend %btnGreen;
  position: fixed;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  @include mq(mob-only) {
    top: calc(100vh - 64px);
    right: 20px;
  }
  @include mq(tab) {
    top: calc(100vh - 84px);
    right: 40px;
  }
  &Icon {
    width: 20px;
    height: 20px;
  }
}
