@import 'assets/styles/index.scss';

.checkboxInfo {
  display: flex;
  align-items: center;

  margin-top: 40px;
  gap: 24px;
  margin-bottom: 40px;
  @include mq(tab) {
    margin-bottom: 42px;
  }
}

.checkboxText {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.checkboxLabel {
  position: relative;
  color: transparent;
  width: 80px;
  height: 40px;
  border: 1px solid var(--text-modal-grey-color);
  border-radius: 30px;
  cursor: pointer;
}

.checkboxIconBox {
  position: absolute;
  top: -3px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: #ff6596;
  color: #ffffff;
  border-radius: 50%;
  box-shadow: var(--red-circle-shadow);
  transition: left 0.3s ease, color 0.3s ease;

  .checkbox:checked + & {
    left: -4px;
    box-shadow: var(--green-circle-shadow);
    background-color: var(--btn-green-color);
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
  }
}

.checkboxIcon {
  width: 20px;
  height: 20px;
}

.checkbox {
  display: none;
}
